* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}


.nav-header {
    position: absolute;
    top: 50%;
    
}